/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/01_qc/raw_fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*FASTQC_TRIM.*' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/01_qc/trim_fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'STAR_ALIGN' {
        ext.args = { "--readFilesCommand zcat --outSAMtype BAM Unsorted SortedByCoordinate" + (params.extra_star_align_args ? " ${params.extra_star_align_args}" : "") }
        publishDir = [
            path: { "${params.outdir}/02_mapping/star/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    // STRINGTIE SUBWORKFLOW
    withName: 'STRINGTIE_STRINGTIE' {
        ext.args = '-e'
        publishDir = [
            path: { "${params.outdir}/03_assembly/stringtie" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'STRINGTIE_MERGE' {
        publishDir = [
            path: { "${params.outdir}/03_assembly" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GFFCOMPARE' {
        ext.args = '-R'
        publishDir = [
            path: { "${params.outdir}/03_assembly/gffcompare" },
            mode: params.publish_dir_mode
        ]
    }

    // FILTERING LNCRNAS TRANSCRIPTS

    withName: 'FASTA_EXTRACT_TRANSCRIPTS' {
        ext.args = '-w'  // obtain transcript sequences
        publishDir = [
            path: { "${params.outdir}/genome/genome_filtering" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FILTER_TRANSCRIPTS_EXONS' {
        publishDir = [
            path: { "${params.outdir}/genome/genome_filtering" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FILTER_TRANSCRIPTS_LENGTH' {
        publishDir = [
            path: { "${params.outdir}/genome/genome_filtering" },
            mode: params.publish_dir_mode
        ]
    }

     // FILTERING LNCRNAS GTF
    withName: 'FILTER_GTF_BY_CLASSCODE' {
        ext.args = { params.classcodes ?: 'i,u,x,j' }
        publishDir = [
            path: { "${params.outdir}/genome/genome_filtering/gtf_by_classcode" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GTF_TO_FASTA' {
        publishDir = [
            path: { "${params.outdir}/genome/genome_filtering/gtf_to_fasta" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS' {
        publishDir = [
            path: { "${params.outdir}/01_qc/qc_post_trim" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'FQ_LINT' {
        ext.args = { params.extra_fqlint_args ?: '' }
    }
    withName: 'FQ_LINT_AFTER_TRIMMING' {
        ext.args = { params.extra_fqlint_args ?: '' }
    }
    withName: 'FQ_LINT_AFTER_BBSPLIT' {
        ext.args = { params.extra_fqlint_args ?: '' }
    }
    withName: 'FQ_LINT_AFTER_RIBO_REMOVAL' {
        ext.args = { params.extra_fqlint_args ?: '' }
    }

    // Extract protein sequences from GTF using gffread (-y)
    withName: 'PROTEIN_EXTRACT' {
        ext.args = '-y'
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/genome/sequences" },
            mode: params.publish_dir_mode,
            enabled: params.novel_lncrnas
        ]
    }

    // Make BLAST protein database
    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = '-dbtype prot'
        publishDir = [
            path: { "${params.outdir}/06_coding_potential/blast" },
            mode: params.publish_dir_mode,
            enabled: params.novel_lncrnas
        ]
    }
    withName: 'CPAT_BUILD_MODEL' {
        cpus = 4
        memory = '8.GB'
        time = '2.h'
        publishDir = [
            path: { "${params.outdir}/06_coding_potential/cpat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename }
        ]
    }

    withName: 'CPAT' {
        cpus = 4
        memory = '8.GB'
        publishDir = [
            path: { "${params.outdir}/06_coding_potential/cpat" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PLEK' {
        publishDir = [
            path: { "${params.outdir}/06_coding_potential/plek" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMBINE_PREDICTIONS' {
        ext.args = params.consensus_mode
        publishDir = [
            path: { "${params.outdir}/06_coding_potential/combined_predictions" },
            mode: params.publish_dir_mode
        ]
    }

    // BLAST FILTERING
    withName: 'BLASTX' {
        publishDir = [
            path: { "${params.outdir}/06_coding_potential" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FILTER_BLAST_RESULTS' {
        publishDir = [
            path: { "${params.outdir}/06_coding_potential" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

     // EXTRACT SEQUENCES
    withName: 'EXTRACT_LNCRNA_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/genome/sequences" },
            mode: params.publish_dir_mode,
            enabled: params.novel_lncrnas
        ]
    }

    withName: 'EXTRACT_MRNA_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/genome/sequences" },
            mode: params.publish_dir_mode,
            enabled: params.novel_lncrnas
        ]
    }

    withName: 'EXTRACT_CDS_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/genome/sequences" },
            mode: params.publish_dir_mode,
            enabled: params.novel_lncrnas
        ]
    }

    withName: 'EXTRACT_PROTEIN_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/genome/sequences" },
            mode: params.publish_dir_mode,
            enabled: params.novel_lncrnas
        ]
    }

    // FILTERING KNOWN LNCRNAS
    withName: 'FILTER_KNOWN_LNCRNA' {
        publishDir = [
            path: { "${params.outdir}/06_coding_potential/known" },
            mode: params.publish_dir_mode
        ]
    }

    // RENAME LNCRNAS
    withName: 'RENAME_LNCRNA' {
        publishDir = [
            path: { "${params.outdir}/05_lncrna_annotation" },
            mode: params.publish_dir_mode
        ]
    }

    // LNCRNAS CLASSIFICATION
    withName: 'CLASSIFY_LNCRNA' {
        publishDir = [
            path: { "${params.outdir}/05_lncrna_annotation" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'README.txt') {
                    return "lncrnas_classification/README.txt"
                }
                return filename.startsWith('lncrnas_classification') ? "lncrnas_classification/${filename}" : filename
            }
        ]
    }

    // PROTEIN-CODING GTF FILTER
    withName: 'GTF_FILTER_PROTEIN_CODING' {
        publishDir = [
            path: { "${params.outdir}/genome/genome_filtering" },
            mode: params.publish_dir_mode
        ]
    }

    // FINAL ANNOTATION MERGE
    withName: 'MERGE_FINAL_ANNOTATION' {
        publishDir = [
            path: { "${params.outdir}/05_lncrna_annotation" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.startsWith('lncrnas_') ? "lncrnas_/${filename}" : filename }
        ]
    }

    // FINAL EVALUATION CPAT
    withName: 'EVALUATE_FINAL_LNCRNA' {
        publishDir = [
            path: { "${params.outdir}/05_lncrna_annotation" },
            mode: params.publish_dir_mode
        ]
    }

    // QUANTIFICATION AND COUNTS MATRIX
    withName: 'SALMON_QUANT' {
        publishDir = [
            path: { "${params.outdir}/08_pseudo_alignment/salmon/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'KALLISTO_QUANT' {
        publishDir = [
            path: { "${params.outdir}/08_pseudo_alignment/kallisto/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TXIMETA_TXIMPORT' {
        publishDir = [
            path: { "${params.outdir}/08_pseudo_alignment/expression_tables" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains("gene")) {
                    return "gene/${filename}"
                } else if (filename.contains("transcript")) {
                    return "transcripts/${filename}"
                } else {
                    return filename
                }
            }
        ]
    }

    withName: 'ANALYSIS_CIS_TRANS' {
        publishDir = [
            path: { "${params.outdir}/07_quantification/cis_trans" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'QUANTIFY_EXPRESSION' {
        publishDir = [
            path: { "${params.outdir}/07_quantification/featurecounts/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GENERATE_COUNT_MATRIX' {
        publishDir = [
            path: { "${params.outdir}/07_quantification/expression_tables" },
            mode: params.publish_dir_mode
        ]
    }

    // DIFFERENTIAL EXPRESSION
    withName: 'DIFFERENTIAL_EXPRESSION' {
        publishDir = [
            path: { "${params.outdir}/09_differential_expression" },
            mode: params.publish_dir_mode
        ]
    }

    // FINAL REPORT
    withName: 'GENERATE_LNCRNA_REPORT' {
        publishDir = [
            path: { "${params.outdir}/10_report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/10_report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SE_GENE_UNIFIED' {
        ext.prefix = { "${meta.id}_gene" }
        ext.args = '--assay_names counts,counts_length_scaled,counts_scaled,lengths,tpm --coldata_id_col sample --rowdata_id_col gene_id'
        publishDir = [
            path: { "${params.outdir}/08_pseudo_alignment/summarized_experiment" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*SE_TRANSCRIPT_UNIFIED' {
        ext.prefix = { "${meta.id}_transcript" }
        ext.args = '--assay_names counts,lengths,tpm --coldata_id_col sample --rowdata_id_col transcript_id'
        publishDir = [
            path: { "${params.outdir}/08_pseudo_alignment/summarized_experiment" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TRIMGALORE' {
        publishDir = [
            path: { "${params.outdir}/01_qc/trimgalore" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FASTP' {
        publishDir = [
            path: { "${params.outdir}/01_qc/fastp" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/02_mapping/samtools/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/02_mapping/samtools/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/02_mapping/samtools/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/02_mapping/samtools/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        publishDir = [
            path: { "${params.outdir}/02_mapping/samtools/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_VIEW' {
        publishDir = [
            path: { "${params.outdir}/02_mapping/samtools/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PICARD_MARKDUPLICATES' {
        publishDir = [
            path: { "${params.outdir}/02_mapping/markduplicates/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'STAR_GENOMEGENERATE' {
        publishDir = [
            path: { "${params.outdir}/02_mapping/star_index" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                filename?.startsWith('star/') ? filename.substring(5) : filename
            }
        ]
    }

    withName: 'SALMON_INDEX' {
        publishDir = [
            path: { "${params.outdir}/08_pseudo_alignment" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SUBREAD_FEATURECOUNTS' {
        publishDir = [
            path: { "${params.outdir}/07_quantification/featurecounts/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CAT_FASTQ' {
        publishDir = [
            path: { "${params.outdir}/01_qc/merged_fastq" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GTF2BED' {
        publishDir = [
            path: { "${params.outdir}/genome/genome_filtering" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GTF_FILTER' {
        publishDir = [
            path: { "${params.outdir}/genome/genome_filtering" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GTF_FILTER_LNCRNA' {
        publishDir = [
            path: { "${params.outdir}/genome/genome_filtering" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' {
        publishDir = [
            path: { "${params.outdir}/genome/sequences" },
            mode: params.publish_dir_mode,
            enabled: params.novel_lncrnas
        ]
    }

    withName: 'CUSTOM_TX2GENE' {
        publishDir = [
            path: { "${params.outdir}/08_pseudo_alignment/expression_tables" },
            mode: params.publish_dir_mode
        ]
    }

}
