/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'STAR_ALIGN' {
        ext.args = '--outSAMtype BAM Unsorted SortedByCoordinate'
    }

    // STRINGTIE SUBWORKFLOW
    withName: 'STRINGTIE_STRINGTIE' {
        ext.args = '-e -G'
        publishDir = [
            path: { "${params.outdir}/stringtie/assembly" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'STRINGTIE_MERGE' {
        publishDir = [
            path: { "${params.outdir}/stringtie/merged" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GFFCOMPARE' {
        ext.args = '-R'
        publishDir = [
            path: { "${params.outdir}/gffcompare" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FASTA_EXTRACT_TRANSCRIPTS' {
        ext.args = '-w'  // obtain transcript sequences
    }

    withName: 'FILTER_GTF_BY_CLASSCODE' {
        publishDir = [
            path: { "${params.outdir}/lncrna_candidates" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GTF_TO_FASTA' {
        publishDir = [
            path: { "${params.outdir}/lncrna_candidates/fasta" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS' {
        publishDir = [
            path: { "${params.outdir}/fastq_filter" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // LNCRNA PREDICTION
    withName: 'CPAT_BUILD_MODEL' {
        cpus = 4
        memory = '8.GB'
        time = '2.h'
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/cpat/models" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename }
        ]
    }

    withName: 'CPAT' {
        cpus = 4
        memory = '8.GB'
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/cpat" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PLEK' {
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/plek" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMBINE_PREDICTIONS' {
        ext.args = params.consensus_mode
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/final" },
            mode: params.publish_dir_mode
        ]
    }

    // BLAST FILTERING
    withName: 'BLASTX' {
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/blastx" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FILTER_BLAST_RESULTS' {
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/blast_filter" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // FILTERING KNOWN LNCRNAS
    withName: 'FILTER_KNOWN_LNCRNA' {
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/filter_known" },
            mode: params.publish_dir_mode
        ]
    }

    // RENAME LNCRNAS
    withName: 'RENAME_LNCRNA' {
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/rename" },
            mode: params.publish_dir_mode
        ]
    }

    // LNCRNAS CLASSIFICATION
    withName: 'CLASSIFY_LNCRNA' {
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/classification" },
            mode: params.publish_dir_mode
        ]
    }

    // FINAL ANNOTATION MERGE
    withName: 'MERGE_FINAL_ANNOTATION' {
        publishDir = [
            path: { "${params.outdir}/lncrna_final_annotation" },
            mode: params.publish_dir_mode
        ]
    }

    // FINAL EVALUATION CPAT
    withName: 'EVALUATE_FINAL_LNCRNA' {
        publishDir = [
            path: { "${params.outdir}/lncrna_prediction/evaluation" },
            mode: params.publish_dir_mode
        ]
    }

    // QUANTIFICATION AND COUNTS MATRIX
    withName: 'QUANTIFY_EXPRESSION' {
        publishDir = [
            path: { "${params.outdir}/expression_quantification" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GENERATE_COUNT_MATRIX' {
        publishDir = [
            path: { "${params.outdir}/expression_matrix" },
            mode: params.publish_dir_mode
        ]
    }

    // DIFFERENTIAL EXPRESSION
    withName: 'DIFFERENTIAL_EXPRESSION' {
        publishDir = [
            path: { "${params.outdir}/differential_expression" },
            mode: params.publish_dir_mode
        ]
    }

    // FINAL REPORT
    withName: 'GENERATE_LNCRNA_REPORT' {
        publishDir = [
            path: { "${params.outdir}/lncrna_report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
